body{
    background-image: url(/bbbb.jpg);
}
h1,h2{
    text-align: center;
}
nav,ul,li{
    text-decoration:none;
    display: inline-block;
    
}
a{
    text-decoration: none;
    color: aliceblue;
}
li{
    padding: 5px;
}
nav{
    padding-left: 70%;
}
a:link{
    color: chartreuse;
}
a:hover{
    color: yellow;
    
}
a:active{
    color: pink;
}
h1,h2{
    text-align: center;
}
div{
    color: beige;
    text-indent: 100px;
}
.Raghul{
    color: aliceblue;
}
.Raghul1{
    color: aliceblue;
}
.abc{
    color: aliceblue;
}